/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer components{
  .container-fypms{
    @apply w-full max-w-screen-xl mx-auto;
  }

  .nav-link{
    @apply text-white;
  }

  .btn-primary{
    @apply text-white font-medium bg-blue-950 px-2 py-1 rounded hover:bg-blue-600;
  }

  .box{
    @apply border-2 border-zinc-400 rounded;
  }

  .header-fypms{
    @apply text-2xl font-bold
  }
} */
