<template>
  <!-- <h1 style="background-color: black;">This is userhomePage</h1> -->

  <div class="container-fluid" id="main-container">
    <div class="row">
      <div class="col-lg-4 col-md-10 col-sm-10">

      </div>
      <div class="col-lg-4 col-md-10 col-sm-10">

      </div>
      <div class="col-lg-4 col-md-10 col-sm-10">

      </div>
    </div>
  </div>
</template>