<template>
    <div class="admin-home-container">
      <div class="admin-header">
        <h1>Welcome to Climate Change Museum Admin Panel</h1>
        <p>Explore and manage your content with ease.</p>
      </div>
  
      <div class="admin-stats">
        <div class="stat-card">
          <h2>Total Users</h2>
          <p v-if="userCount" class="stat-count">{{ userCount }}</p>
          <p v-else class="stat-count">0</p>
        </div>
        <div class="stat-card">
          <h2>Published News</h2>
          <p v-if="newsCount" class="stat-count">{{ newsCount }}</p>
          <p v-else class="stat-count">0</p>
        </div>
        <div class="stat-card">
          <h2>Total Admin</h2>
          <p v-if="adminCount" class="stat-count">{{ adminCount }}</p>
          <p v-else class="stat-count">0</p>
        </div>
      </div>
  
     </div>
  </template>
  
  <style scoped>
  .admin-home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .admin-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .admin-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .stat-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .stat-count {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .admin-actions {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: #212529;
  }
  
  .admin-recent-activity {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .admin-recent-activity ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-recent-activity li {
    margin-bottom: 10px;
    border-left: 3px solid #007bff;
    padding-left: 10px;
  }
  
  </style>
  
  <script setup>
defineProps(['userCount','newsCount','adminCount'])
</script>