<template>
  <div style="position: relative; font-family: 'Space Grotesk', sans-serif;">
    <div class="row  w-100" style="top: 0px; background-color: green;" >
    <nav class="navbar navbar-expand-lg ">
      <div class="container">
        <a class="navbar-brand me-auto" href="/">
          <img class="img-fluid mt-3" :src='`/logo.svg`' alt="logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse" 
          data-bs-target="#navbarNav"
          style="background-color: white;"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="my-item">
              <Link class="nav-link" aria-current="page" style="font-size: medium; color:white; opacity: 0.7;" href="/admin">
                HOME
              </Link>
            </li>
            <li class="my-item">
              <Link class="nav-link" href="/admin/newsandevents" style="font-size: medium; color:white; opacity: 0.7;">
                NEWS & EVENT
              </Link>
            </li>
            <li class="my-item">
              <Link class="nav-link" href="/admin/allnews" style="font-size: medium; color:white; opacity: 0.7;">
               ALL NEWS
              </Link>
            </li>
            <li class="my-item">
              <Link class="nav-link" href="/admin/allusers" style="font-size: medium; color:white; opacity: 0.7;">
                MANAGE USERS
              </Link>
            </li>

            <li class="my-item">
              
              <Link href="/logout" method="delete" style="font-size: medium; color: white; opacity: 0.7;" class="nav-link">
                LOGOUT
              </Link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
  </div>
  
  <slot></slot>
</template>
<style scoped>
@media (max-width:758px) {
  .collapse{
    background-color: white;
    
  }
  .nav-link{
    color: black !important;
  }
}
.nav-link:hover {
  opacity: 1 !important;
}

.my-item {
  align-self: center !important;
}
</style>
<script setup>
  import { Link } from '@inertiajs/vue3';
</script>





