<template>
  <div style="font-family: 'Space Grotesk', sans-serif;">
    <div class="row  w-100" style="z-index: 1; position: absolute; top: 0px">
      <nav class="navbar navbar-expand-lg ">
        <div class="container">
          <a class="navbar-brand me-auto" href="/">
            <Link href="/userhome"><img class="img-fluid mt-3" :src='`/logo.svg`' alt="logo" /></Link>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            style="background-color: white;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="my-item">
                <Link class="nav-link " style="font-size: medium; color: white; opacity: 0.7;" href="/userhome">
                HOME
                </Link>
              </li>
              <li class="my-item">
                <Link class="nav-link" style="font-size: medium; color: white; opacity: 0.7;" href="/bhutanscape">
                  SKILLS
                </Link>
              </li>
              <li class="my-item">
                <Link class="nav-link" style="font-size: medium; color: white; opacity: 0.7;" href="/aboutUs">
                ABOUT US
                </Link>
              </li>
              <li class="my-item">
                <Link class="nav-link" style="font-size: medium; color: white; opacity: 0.7;" href="/contactus">
                CONTACT
                </Link>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <slot></slot>
</template>

<style scoped>
@media (max-width:758px) {
  .collapse{
    background-color: white;
    
  }
  .nav-link{
    color: black !important;
  }
}
.nav-link:hover {
  opacity: 1 !important;
}

.my-item {
  align-self: center !important;
}
</style>

<script setup>
import { Link } from '@inertiajs/vue3';
</script>
