<template>
  <div class="bg-nature d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="card" style="width: 300px;">
      <div class="card-body">
        <h5 class="card-title text-center">Climate Change Admin Login</h5>
        <form @submit.prevent="form.post('/login')">
          <div class="form-group">
            <label for="username">Email</label>
            <input type="text" class="form-control" v-model="form.email" id="username" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" v-model="form.password" placeholder="Enter your password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3';

const form = useForm({
  email: '',
  password: ''
});

</script>

<style scoped>
.bg-nature {
  background-color: #5cb85c; /* Green background color */
  background-image: url('/nature-background.jpg'); /* Replace with your nature-themed background image */
  background-size: cover;
  background-position: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.9); /* Light background for the card */
}

.card-title {
  color: #5cb85c; /* Green title color */
}

.btn-primary {
  background-color: #5cb85c; /* Green button color */
  border: 1px solid #5cb85c; /* Green border color */
}

.btn-primary:hover {
  background-color: #4cae4c; /* Darker green on hover */
  border: 1px solid #4cae4c;
}
</style>
